

.block-content, .about-section {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.title {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    line-height: 1.4;
    margin-bottom: 70px;
 }
.blockquote {
  margin: 0em 0 3em 0;
  padding: 0;
  border: none;
  background: none;
  font-style: normal;
  line-height: 1.7;
  color: #777;
  width: 33.33333333%;
  float: left;
}
//.textTwo, .block-image, .block-title, .block-text, .team-social-links, .team-item-name, .team-item-role  {
//  width: 33.33333333%;
//  float: left;
//}
.textThree {
  width: 33.33333333%;
  float: left;
}


