<ul class="nav nav-tabs tpl-alt-tabs font-alt pt-30 pt-sm-0 pb-30 pb-sm-0">
 <tst-section1 *ngFor="let servItem of servItems"  [hrefServ]="servItem.hrefServ" [iconServ]="servItem.iconServ" [titleServ]="servItem.titleServ"></tst-section1>
</ul>
<div class="tab-content tpl-tabs-cont">
    <tst-section2 *ngFor="let servItem of servItems"  [idServ]="servItem.idServ" [textServOne]="servItem.textServOne" [nameServ]="servItem.nameServ"
                  [textServTwo]="servItem.textServTwo" [textServThree]="servItem.textServThree"></tst-section2>
</div>


