
<!-- About Section -->
<section class="page-section" id="about">
    <tst-about class="container"></tst-about>
    <!--<div class="container relative">-->
        <!--<h2 class="section-title font-alt align-left mb-70 mb-sm-40">-->
            <!--{{titleAbout}}-->
        <!--</h2>-->
        <!--<div class="section-text mb-50 mb-sm-20">-->
            <!--<div class="row">-->
                <!--<div class="col-md-4">-->
                    <!--<blockquote>-->
                        <!--<p>-->
                            <!--{{textOneAbout}}-->
                        <!--</p>-->
                        <!--<footer>-->
                           <!--{{nameAbout}}-->
                        <!--</footer>-->
                    <!--</blockquote>-->
                <!--</div>-->
                <!--<div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">-->
                    <!--{{textTwoAbout}}-->
                <!--</div>-->
                <!--<div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">-->
                    <!--{{textThreeAbout}}-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<tst-about *ngFor="let aboutItem of aboutItems"  [itemImgAbout]="aboutItem.itemImgAbout"-->
                       <!--[itemTitleAbout]="aboutItem.itemTitleAbout" [itemTextAbout]="aboutItem.itemTextAbout"-->
                       <!--[itemNameAbout]="aboutItem.itemNameAbout" [itemRoleAbout]="aboutItem.itemRoleAbout"-->
            <!--&gt;</tst-about>-->
        <!--</div>-->
    <!--</div>-->
</section>

        <!-- End About Section -->

<!-- Divider -->
<hr class="mt-0 mb-0 "/>
<!-- End Divider -->
<!-- Services Section-->
<section class="page-section" id="services">
    <div class="container relative">
        <h2 class="section-title font-alt mb-70 mb-sm-40">
            {{headTitleServ}}
        </h2>
        <tst-services-section></tst-services-section>
    </div>
</section>
 <!--End Services Section-->



<tst-call-section-one></tst-call-section-one>


<!-- Portfolio Section -->
<section class="page-section pb-0" id="portfolio">
    <div class="relative">

        <h2 class="section-title font-alt mb-70 mb-sm-40">
            {{titleP}}
        </h2>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="section-text align-center mb-70 mb-xs-40">
                        {{textP}}
                    </div>

                </div>
            </div>
        </div>

        <!-- Works Filter -->
        <div class="works-filter font-alt align-center">
            <tst-filter *ngFor="let filterItem of filterItems"  [filterPortf]="filterItem.filterPortf" [filterName]="filterItem.filterName"></tst-filter>
        </div>
        <!-- End Works Filter -->

        <!-- Works Grid -->
        <ul class="works-grid work-grid-3 work-grid-gut clearfix font-alt hover-white hide-titles" id="work-grid">

            <tst-portfolio-section *ngFor="let portfItem of portfItems"  [workHrefP]="portfItem.workHrefP" [workImgP]="portfItem.workImgP" [workTitleP]="portfItem.workTitleP"
                                   [workDescrP]="portfItem.workDescrP" ></tst-portfolio-section>

        </ul>
    </div>
</section>
<!-- End Portfolio Section -->

<tst-call-section-two></tst-call-section-two>

<!-- Features Section -->
<section class="page-section">
    <div class="container relative">
        <h2 class="section-title font-alt mb-70 mb-sm-40">
            {{featurHead}}
        </h2>
        <div class="row multi-columns-row alt-features-grid">

            <tst-features-section *ngFor="let featurItem of featurItems"  [iconF]="featurItem.iconF" [titleF]="featurItem.titleF" [textF]="featurItem.textF"></tst-features-section>

        </div>
    </div>
</section>
<!-- End Features Section -->

<!-- Testimonials Section -->

<tst-testimonials-section></tst-testimonials-section>

<!-- End Testimonials Section -->

<!--  Blog Section -->
<section class="page-section" id="news">
    <div class="container relative">
        <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
            {{blogTitle}}
            <a href="{{blogHref}}" class="section-more right">{{blogMore}} <i class="fa fa-angle-right"></i></a>
        </h2>
        <div class="row multi-columns-row">

            <tst-blog-section></tst-blog-section>

        </div>
    </div>
</section>
<!-- End Blog Section -->

<tst-newsletter-section></tst-newsletter-section>

<!-- Contact Section -->
<section class="page-section" id="contact">
    <div class="container relative">
        <h2 class="section-title font-alt mb-70 mb-sm-40">
            {{contTitle}}
        </h2>
        <div class="row mb-60 mb-xs-40">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <tst-contact-section *ngFor="let contItem of contItems"  [contItemIcon]="contItem.contItemIcon" [contItemTitle]="contItem.contItemTitle" [contItemText]="contItem.contItemText"></tst-contact-section>
                </div>
            </div>
        </div>
        <!-- Contact Form -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form class="form contact-form" id="contact_form" autocomplete="off">
                    <div class="clearfix">
                        <div class="cf-left-col">
                            <!-- Name -->
                            <div class="form-group">
                                <input type="text" name="name" id="name" class="input-md round form-control" placeholder="{{contName}}" pattern=".{3,100}" required>
                            </div>
                            <!-- Email -->
                            <div class="form-group">
                                <input type="email" name="email" id="email" class="input-md round form-control" placeholder="{{contEmail}}" pattern=".{5,100}" required>
                            </div>
                        </div>
                        <div class="cf-right-col">
                            <!-- Message -->
                            <div class="form-group">
                                <textarea name="message" id="message" class="input-md round form-control" style="height: 84px;" placeholder="{{contMessage}}"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="cf-left-col">
                            <!-- Inform Tip -->
                            <div class="form-tip pt-20">
                                <i class="fa fa-info-circle"></i> {{contInfo}}
                            </div>
                        </div>
                        <div class="cf-right-col">
                            <!-- Send Button -->
                            <div class="align-right pt-10">
                                <button class="submit_btn btn btn-mod btn-medium btn-round" id="submit_btn">{{contBtn}}</button>
                            </div>
                        </div>
                    </div>
                    <div id="result"></div>
                </form>
            </div>
        </div>
        <!-- End Contact Form -->
    </div>
</section>

<!-- End Contact Section -->

<tst-map-section></tst-map-section>

