<!-- Home Section -->
<section class="home-section bg-dark-alfa-30 parallax-2" data-background="assets/images/full-width-images/111111111111.jpg"  id="home" style="background-image: url('assets/images/full-width-images/111111111111.jpg');">
  <div class="js-height-full">

    <!-- Hero Content -->
    <div class="home-content">
      <div class="home-text">


        <h1 class="hs-line-1 font-alt mb-80 mb-xs-30 mt-70 mt-sm-0">
          {{homeTitle}}
        </h1>

        <div class="hs-line-6">
          {{homeSubTitle}}
        </div>

      </div>
    </div>
    <!-- End Hero Content -->

    <!-- Scroll Down -->
    <div class="local-scroll">
      <a href="#about" class="scroll-down"><i class="fa fa-angle-down scroll-down-icon"></i></a>
    </div>
    <!-- End Scroll Down -->

  </div>
</section>
<!-- End Home Section -->
